*.pgp
*.pgw
/WordsGrammer/.vs
/WordsGrammer/*.sln
/WordsGrammer/*.db
/WordsGrammer/WordsGrammer/Debug
/WordsGrammer/WordsGrammer/WordsGrammer.*
/WordsGrammer/Debug/*.exe
/WordsGrammer/Debug/*.ilk
/WordsGrammer/Debug/*.pdb